/* topnav start here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_roboto{
  font-family: "Roboto", sans-serif;
}


html,body{
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.topnav_bg{
  background: #003d29;
  color: white;
}

.btn_carosuel_showing{
  background: #003d29;
  color: white;
  border-radius: 16px;
  padding: 5px 10px;
  transition: 0.3s ease-in;
  font-family: "Roboto", sans-serif;
}

.btn_green_class{
  background: #003d29;
  color: white;
  border-radius: 26px;
  padding: 10px 20px;
  transition: 0.3s ease-in;
  font-family: "Roboto", sans-serif;

}

.btn_green_class:hover{
  background: black;
color: white;
}


.btn_class{
  border: 1px solid white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background: none;
  padding: 10px 20px;
  transition: 0.3s ease-in;
}

.btn_class:hover{
background: black;
color: white;
border: 1px solid black;
}


.head h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 26px;
  
}

.font_bold h4{
  font-family: "Roboto", sans-serif;
font-weight: bold;
font-size: 20px;
}


.getupto_controls .card-body .card-title {
  font-weight: 700;
  font-size: 25px;
}


.getupto_controls .card-body div h2 {
  font-weight: 700;
  font-size: 46px;
  
}

.getupto_controls .card-body div h2 span {
 padding-right: 8px;
  font-size: 29px;
  
}

.zoom_img_width_trending {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 overflow: hidden;
 }
 
 .zoom_img_width_trending img {
   width: 100%;
  object-fit: cover;
   transition: all .3s ease;
 }
 
 .zoom_img_width_trending img:hover {
   transform: scale(1.2);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
 }


/* ///// */


 .zoom_without_width {
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
 
 .zoom_without_width img {
   width: 100%;
  object-fit: cover;
   transition: all .3s ease;
 }
 
 .zoom_without_width img:hover {
   transform: scale(1.2);
 }
 
 
/*  */


/* ///// */


.zoom_without_width_bottom {
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 }
 
 .zoom_without_width_bottom img {
   width: 100%;
  object-fit: cover;
   transition: all .3s ease;
 }
 
 .zoom_without_width_bottom img:hover {
   transform: scale(1.2);
 }
 
 
/*  */








.zoom-img_width {
 width: 200px;

  overflow: hidden;
}

.zoom-img_width img {
  width: 100%;
 
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img_width img:hover {
  transform: scale(1.2);
}



.zoom-img {
  width: 300px;
  overflow: hidden;
}

.zoom-img img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}


.green_bannerinner_background{
  
  background: #003d29;
  color: white;
}

.zoom-in {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  transition: transform 0.3s ease;
}

.zoom-out {
  transform: scale(1);
  transition: transform 0.3s ease;
}

.p-addtocart button{
 color: black;
  border: 1px solid #003d29;
  background: none;
  border-radius: 15px;
  padding: 5px 20px;
  transition: 0.3s ease-in;
}

.p-addtocart button:hover{
  color: white;
   background: #003d29;
   border-radius: 15px;
   padding: 5px 20px;
 }

 /* .page .shopping-cart .items{
  box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 } */

 .trending_products h3,p{
  font-family: "Roboto", sans-serif;
 }


 .sigle_cart_item{
  border: 1px solid #003d29;
  padding: 3px 7px;
  border-radius: 5px;
 }


 
 @media (max-width: 768px) {
  .green_bannerinner_background {
    width: 80%;
  }
}



@media (max-width: 576px) {
  
    .topnav_bg{
      display: none;
    }
    .shop_our_top_categories .shopour, .getupto, .card_controls_allproduct  {
    justify-content: center;
    }
}